.btn-primary {
    font-size: var(--font-size-20) !important;
    font-weight: var(--font-weight-400) !important;
    background-color: var(--blue-30) !important;
    border-color: var(--blue-30) !important;
    color: var(--white) !important;

    padding: 5px 20px !important;
}
.btn-primary:hover {
    background-color: var(--blue-90) !important;
    border-color: var(--blue-90) !important;
    color: white !important;
}
